header {
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 5px 5px -5px rgba(0, 0 ,0, .5);
}
.navbar {
    display: flex;
    justify-content: center;
}
.navbar-logo {
    display: inline-block;
    margin-top: 0.93rem;
    margin-bottom: 0.93rem;
}
.navbar-menu {
    display: inline-block;
    margin: 1.93rem 0 0 1.87rem;
}
.navbar-menu__item {
    margin-right: 1.87rem;
    text-decoration: none;
    font-size: 14px;
    color: #1D2F38;
}
.navbar-menu__item:last-child {
    margin-right: 0;
}
.navbar-menu__pic {
    width: 1.18rem;
    height: 1.06rem;
    padding-right: 0.75rem;
}
.navbar-mail{
    cursor: pointer;
    margin: 1.87rem 0 0 18.37rem;
    text-align: center;
}
.navbar-mail__link{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #1D2F38;
    padding-left: 0.75rem;
    margin-top: 2rem;
}